@use './utilities.scss'; /**Variables and mixin - Redundant rules**/

#section-log {
    @include utilities.generic-form;
    & div {
        text-align: center;
        & #loginSupport {
            border: none;
            background-color: transparent;
            text-decoration: underline;
            cursor: pointer;
            font-family: utilities.$main-font;
        }
    }
    
}

.login-legal {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: utilities.$light-color;
    width: 100%;
}
